.apple-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.4vh;
  /* Apple navbar height */
  background: rgba(55, 55, 57, 0.8);
  /* Dark semi-transparent */
  backdrop-filter: saturate(180%) blur(2vh);
  /* subtle blur */
  -webkit-backdrop-filter: saturate(180%) blur(2vh);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.apple-navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.apple-navbar a {
  text-decoration: none;
  color: #f5f5f7;
  font-size: 1.2vh;
  font-weight: 400;
  transition: color 0.3s;
}

.apple-navbar a:hover {
  color: #959393;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Ensure proper spacing for fixed navbar */
body {
  padding-top: 4.4vh; /* Apple navbar height */
}
